:root{
    /*--primary-color: #82b4f4; */
    /*--primary-color: #7289da; discord*/
     /*--primary-color: #1DA1F2; X*/
    --primary-color: #1877F2; /*facebook*/
    --message-color: #E1E8ED; /*very light gray*/
}
    


.chatContainer {
    display: flex;
    height:85vh;
    border-bottom: 1px solid #dddddd;
}

.chatlogin{
    flex:0.5;

}


.chatlist{
    flex:1;
    display:flex;
    flex-direction: column;
    max-width: 550px;

    .userinfo{
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .user{
            display: flex;
            align-items: center;
            gap: 20px;

            
            .user-img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
            
            span{
                font-weight:bold;

            }
            
                
        
        }
    
        .icons{
            display:flex;
            gap:20px;
            img{
                width:20px;
                height:20px;
            }
        }
    }

    .addChat{
        flex: .01;
        display:flex;

        input{
            
            background-color: rgba(17,25, 40, .05);
            border:none;
            outline:none;
            padding:5px;
            border-radius: 10px;
            font-size: 14px;;
        }

        button{
            border-radius:10px;
            font-size:14px;
            border:none;
            background-color: transparent;    
        }    
            
    }

    .challengelist{
        flex:1;
        max-width: 100%;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--primary-color) white;
    
        .item{
            display:flex;
            align-items: center;
            gap:20px;
            padding:10px;
            cursor: pointer;
            border-bottom: 1px solid #dddddd;
            border-radius: 10px;
            margin-left:5px;
            margin-right: 5px;
            min-height: 8vh;
            max-height:10vh;
            
            &.active{
                border: solid var(--primary-color);
            }
            .chal-img{
                width:50px;
                height:50px;
                border-radius: 50%;
                object-fit:cover;
            }
    
            .texts{
                flex-grow: 1;
                display:flex;
                flex-direction:column;
                gap:10px;
                span{
                    font-size: 15px;
                    font-weight:500;
                    text-overflow:ellipsis;
                }
                
                .lastMessage{
        
                    font-size:12px;
                    font-weight:300;
                    flex-grow: 1;
                    height:auto;
                    margin:0;
                    padding:0;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    
                    width:150px;
                    
                }   
            }
            
            .unread-icon{
                
                width:30px;
                height:30px;
                border-radius: 50%;
                background-color: var(--primary-color);
                color:white;
                display:flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
            }
    
            
        }
    }

}

.chatbox{
    flex:2;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    display:flex;
    flex-direction: column;
    
    position:relative;

    .top{
        display:flex;
        gap:20px;
        align-items: center;
        padding:10px;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd;
        
        .challenge{
            
            
            .name{    
              font-size: 18px;
            font-weight:bold;
            max-width: 70%;
            text-overflow:ellipsis;  
            }
            .usernum{
                padding-left:10px;
                padding-right:10px;
                font-size: 10px;
                 
            }
        }
        .homeicon{
            
            i{
                cursor:pointer;
                padding-right: 10px;
            }
        }
        
    }

    .center{
        flex: 1;
        flex-grow: 1;
        padding:10px;
        padding-bottom: 30px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--primary-color) white;
        display:flex;
        flex-direction: column;
        gap:20px;

        .message{
            max-width: 70%;
            display: flex;
            gap:10px;
            margin-bottom: -15px;;
            &.mine{
                align-self:flex-end;
                .texts{
                    p{
                        background-color: var(--primary-color);
                        color: white;
                    }
                    span{
                        align-self: self-end;
                    }
                }    

            }
            .user-pic{
                width:40px;
                height:40px;
                border-radius:50%;
                object-fit:cover;
            }
            .texts{
                
                display:flex;
                flex-direction:column;
                
                p{
                    padding:5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin:0;
                    background-color:var(--message-color);
                    border-radius: 10px;
                    font-size:12px;
                    display:inline;
                }

                span{
                    font-size:8px;
                }
                .names{
                    font-size:12px;
                }
                /*user uploaded picture*/
                .msg-img{
                    width:100%;
                    max-height:300px;
                    border-radius:10px;
                    object-fit: cover;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                }
            }
        }
        
    }

    .bottom{
        position:relative;
        display:flex;
        padding:20px;
        align-items: center;
        justify-content: space-between;
        gap:20px;
        border-top: 1px solid #dddddd;
        margin-top: auto;
        i{
                
                cursor: pointer;
        }
        
        .icons{
            display:flex;
            gap:20px;
            
        }
        
        input{
            flex:1;
            background-color: rgba(17,25, 40, .05);
            border:none;
            outline:none;
            padding:5px;
            border-radius: 10px;
            font-size: 14px;;
        }

        .sendButton{
            
            border:none;
            color: var(--primary-color); 
            background-color: transparent;   
            
            
        }
    }

    .image-preview{
        position:absolute;
        bottom: 80px; 
        left: 20px;
        border: 2px solid #ddd;
        border-radius: 8px;
        
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        max-width:400px;
        padding: 20px;
        padding-top:3px;
        background-color: white;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        legend{
            font-weight: 700;
            font-size: 10px;
            padding-bottom: 3px;
        }
        img{
            max-width: 300px;
           margin:-10px;
            border-radius:5px;
            object-fit: cover;
        }
    }
}

.addUser{
    width:max-content;
    height:max-content;
    padding:10px;
    background-color:rgba(17, 25, 40, 0.303);
    border-radius: 10px;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;

    form{
        display:flex;
        gap:20px;
        input{
            padding:5px;
            border-radius:10px;
        }

        button{
            padding:5px;
            border-radius:10px;
            cursor:pointer;
        }
    }
    .user{
        margin-top:50px;
        display:flex;
        align-items:center;
        justify-content: space-between;
    }

}


.nav_menu{
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    background-color: white;
    
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    height: 4rem;
    gap: 20px;
    padding: 5px;
    align-content: center;
    
    .nav_list{
        display: flex;
        width:100%;
        justify-content: space-around;
        list-style: none;
    }
    .nav_list li{
        flex:1;
        width: 100%;
        display: flex;
        justify-content: center;
        
        button{
            width:80%;
            display:flex;
            flex-direction: column;
            border:none;
            background-color: transparent;
            justify-content: center; 
            align-items: center;
            cursor: pointer;
            font-size: 25px;
        }
        
        button.active{
            color: var(--primary-color);
            border-bottom: 3px solid var(--primary-color);
            
        }
        
        
        
    }
    
}
@media screen and (max-width:650px){
    .chatContainer{
        flex-direction: column;
        
    }
    
    .chatlist{
        flex: 1;
        width: 100%;
    }
    .chatbox{
        flex:1;
        overflow-y: auto;
    }
    
    
    
}




